.book-edit__button {
    display: block;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #000000;
    border-radius: 2px;

    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.book-edit__button:hover:not(:disabled),
.book-edit__button:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.book-edit__button:disabled {
    color: #aaaaaa;
    border-color: #aaaaaa;
}
