.modal {
    margin-bottom: 20px;

    background-color: #ffffff;
}

.modal__form {
    width: 100%;
    max-width: 560px;
}

.modal__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.modal__heading {
    margin-top: 0;
}

.modal__fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 0 7px;
    padding: 10px 15px;
    row-gap: 7px;

    border: 1px solid #999999;
}

.modal__label {
    display: flex;
    flex-direction: column;
}

.modal__input {
    width: auto;
    padding: 2px 5px;

    font: inherit;
    font-size: 16px;

    border: 1px solid #aaaaaa;

    resize: none;
}

.modal__input:disabled {
    border-color: transparent;
    background-color: #eeeeee;
}

.modal__input:focus {
    border-color: #000000;
    box-shadow:  0 0 3px rgba(0,0,0,0.5);
}

.modal__buttons-wrap {
    display: flex;
    column-gap: 15px;
}

.modal__button {
    display: block;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #000000;
    border-radius: 2px;

    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.modal__button:hover:not(:disabled),
.modal__button:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal__button:disabled {
    color: #aaaaaa;
    border-color: #aaaaaa;
}

.modal__rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.modal__stars {
    font-size: 30px;
}
