.book-edit {
    margin-bottom: 20px;

    background-color: #ffffff;
}

.book-edit__form {
    width: 100%;
    max-width: 560px;
}

.book-edit__wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    align-items: flex-start;
}

.book-edit__heading {
    margin-top: 0;
}

.book-edit__fieldset {
    display: flex;
    flex-direction: column;
    margin: 0 0 7px;
    padding: 10px 15px;
    row-gap: 7px;

    border: 1px solid #999999;
}

.book-edit__label {
    display: flex;
    flex-direction: column;
}

.book-edit__input {
    width: auto;
    padding: 2px 5px;

    font: inherit;
    font-size: 16px;

    border: 1px solid #aaaaaa;
    background-color: #ffffff;

    resize: none;
}

.book-edit__input:disabled,
.book-edit__input:read-only {
    border-color: #eeeeee;
    background-color: #eeeeee;
}

.book-edit__input:focus:not(:read-only) {
    border-color: #000000;
    box-shadow:  0 0 3px rgba(0,0,0,0.5);
}

.book-edit__input:invalid {
    background-color: #ffebee;
    border-color: #ef9a9a;
    color: #e57373;
    box-shadow:  0 0 3px rgba(239, 83, 80, 0.7);
}

.book-edit__buttons-wrap {
    display: flex;
    column-gap: 15px;
}

.book-edit__button {
    display: block;
    padding: 10px;

    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid #000000;
    border-radius: 2px;

    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.book-edit__button:hover:not(:disabled),
.book-edit__button:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.book-edit__button:disabled {
    color: #aaaaaa;
    border-color: #aaaaaa;
}

.book-edit__rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.book-edit__stars {
    font-size: 30px;
}
